<<<<<<< HEAD
    
      body{
        background-color: bisque;
        color: rgb(26, 27, 29);
        background-image: url("villa-lorena-pool-terrace-santorini.jpg");
        }
  
        .container{
          margin-top: 90px;
        }
  
               .col-sm{
           background-color: aliceblue;
           padding: 40px;
           margin: 20px
         }
  
         .col{
          background-color: aliceblue;
           padding: 40px;
           margin: 20px
=======
    
      body{
        background-color: bisque;
        color: rgb(26, 27, 29);
        background-image: url("villa-lorena-pool-terrace-santorini.jpg");
        }
  
        .container{
          margin-top: 90px;
        }
  
               .col-sm{
           background-color: aliceblue;
           padding: 40px;
           margin: 20px
         }
  
         .col{
          background-color: aliceblue;
           padding: 40px;
           margin: 20px
>>>>>>> b6c0080b9634b3fa6aa78201568eaed768bcd04d
         }